/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-nov-2016, 14:19:13
    Author     : alumno
*/

$num-columns:12;

@for $i from 1 through $num-columns {
/*    @for $j from 1 through length($resoluciones){*/
        .col-#{$i}{
            margin: 10px;
            width: ((100/$num-columns)*$i)*1%;
            float:left;
/*            border: 1px solid red;*/
        }
        .offset-#{$i}{
            margin-left: ((100/$num-columns)*$i)*1%;
        }
    /*}*/
}
.row:after {
    content: "";
    clear: both;
    display: block; 
}